@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400&display=swap');

.project-section {
    margin-top: 100px;
    text-align: center;
}
.project-img {
    border-radius: 5px;
}
h1 {
    font-size: 70px;
    margin-bottom: 100px;
    font-family: 'Shadows Into Light', cursive;
}
.text-image-container {
    display: flex;
    flex-direction: column;
}
.text-image-alignment {
    display: flex;
    justify-content: space-around;
}
.text-alignment {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    font-weight: lighter;
}
.image-alignment {
    display: flex;
    margin-left: 25px;
    margin-bottom: 100px;
}
.title-text {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}
.project-info {
    margin-bottom: 25px;
}
button {
    padding: 10px;
    margin: 5px;
}
.some-info {
   margin-bottom: 150px;
}
.code-link {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #ff5000;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
    img {
        height: 180px;
        width: 180px;
    }
    .title-text {
        font-size: 15px;
    }
    .project-info {
        font-size: 13px;
    }
    .text-alignment {
        width: 200px;
        padding: 10px;
    }
    .some-info {
        font-size: 13px;
    }
}