.project-section {
    padding-top: 50px;
}
.title-project {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: 600;
    padding: 50px;
    margin-bottom: 25px;
}
.text-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.text-image-position {
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    max-width: 800px;
    padding: 25px;
    margin: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transform: translateY(0); 
    transition: transform 0.3s ease; 
    position: relative;
}
.text-image-position:hover::before {
    opacity: 1;
}
.text-image-position:hover {
    transform: translateY(20px);
}
.text-container {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.text-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 35px;
}
.text-info {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: gray;
}
.link-position {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ref-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    margin: 15px;
    text-decoration: none;
}
.button-link:hover {
    background-color: #0d6efd;
}
img {
    height: 400px;
    width: 500px;
    border-radius: 5px;
}