/* Skill Containers */
.skill-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Shadows Into Light', cursive;
}
.skill-name {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.skill-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-logos {
    display: flex;
    justify-content: center; 
    margin-bottom: 70px; 
    font-size: 70px;
}
.logos-position {
    display: flex;
    justify-content: center; 
    gap: 20px;
}
.logos {
    height: 80px;
    width: 80px;
}

@media (max-width: 620px) {
    .logos-position {
        display: flex;
        flex-wrap: wrap;
    }
    .title-logos {
        margin-left: 50px;
        font-size: 60px;
    }
    .logos {
        height: 40px;
        width: 40px;
    }
    .skill-name {
        font-size: 14px;
    }
}