@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  margin: auto;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  background-color: black;
}
.app {
  font-family: 'Noto Sans JP', sans-serif;
}
.img-contact {
  padding: 10px;
  height: 40px;
  width: 40px;
}
header {
  background-color: lightslategray;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main-content {
  margin-top: 60px;
  margin-bottom: 40px;
}
footer {
  background-color: lightslategray;
  padding: 10px;
  height: 65px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-link {
  padding: 10px;
  text-decoration: none;
  color: white;
}