@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  margin: auto;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  background-color: lightseagreen;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
}
.img-contact {
  padding: 10px;
  height: 40px;
  width: 40px;
}
header {
  background-color: #38542F;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
  font-size: 18px;
}
.container {
  flex: 1;
}
footer {
  background-color: #38542F;
  padding: 10px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
}
.nav-link {
  padding: 10px;
  text-decoration: none;
  color: white;
}